*{
    box-sizing: border-box;
}

body {
    font-family:Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

section img {
    width: 100%;
    max-width: 300px;
}

header{
    border-bottom: 1px solid #ccc;
    padding-top: 1em;
    padding-bottom: 1em; 
    position: fixed;
    width: 100%;
    height: 3em;
}

header ul{
    text-align: right;
}

header li a{
    color: #99a0b0;
    font-weight: lighter;
    text-transform: uppercase;
}

header li {
    display: inline-block;
    margin-left: 3em;
}

#contato li{
    display: inline-block;
    margin: 1em;
}

.container{
    padding-left: 10%;
    padding-right: 10%; 
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}

.identificacao{
    background-color: #579ff0;
    color: #fcfcfd;
    padding: 10em 2em 7em;
}

.identificacao h1{
    font-size: 2.5em;
    margin-bottom: 0.7em;    
}

.identificacao h2{
    font-size: 1.5em;
    font-weight: lighter;
}

section h3{
    font-size: 1.7em;
    margin: 0.5em;
}

header li a {
    color: #99a0b0
}

.escuras{
    background-color: #2b313e;
    color: #fcfcfc;
}

.claras{
    background-color: #fcfcfc;
    color: #2b313e
}

.projetos-header{
    float: left;
}

.styleprojetos {
    margin-left: 40%;
}

.styleprojetos li{
    background-color: #6f768b;
    padding: 1em;
    margin-bottom: 2em;
    }

.styleprojetos li p{
    color: #fff;
    margin-top: 0.5em;
    text-align: justify;
    line-height: 1.2;
}

.styleprojetos li a{
        color: #ffffff;
        font-size: 1.3em;
    }

#sobre p.text{
    margin: 1em;
    width: 50%;
    text-align: justify;
    line-height: 1.4;
}

#sobre p.bio {
    color:#579ff0;
    font-size: 1.5em;
    margin: 1em;
    width: 50%;
}

#sobre{
    position: relative;
}

#sobre img{
        width: 200px;
        position: absolute;
        top: 2em;
        right: 10%;
    }

footer{
        padding-top: 1em;
        padding-bottom: 1em;
    }